:root {
    --main-color: #fff000;
    /*--blue: #009FE3;*/
    --blue: 0, 159, 227;
    --blueimg: 55,163,53;
    --pink: 255,0,255;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.1;

    --foreground: var(--blue);
    --background: var(--pink);

    --foregroundblue: rgba(var(--pink));
    --foregroundpink: rgba(var(--blue));

    --textblue: var(--blue);
    --textpink: var(--pink);

    --textblueopacity: rgba(var(--blue), var(--alpha));
    --textpinkopacity: rgba(var(--pink), var(--beta));

}

.pinkmode {
    --main-color: #fff000;
    /*--pink: #FF00FF;*/
    --pink: 255,0,255;
    --pinkimg: 252,0,71;
    --blue: 0, 159, 227;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.1;

    --foreground: var(--pink);
    --background: var(--blue);

    --foregroundblue: rgba(var(--blue));
    --foregroundpink: rgba(var(--pink));

    --textblue: var(--pink);
    --textpink: var(--blue);

    --textblueopacity: rgba(var(--blue), var(--beta));
    --textpinkopacity: rgba(var(--pink), var(--alpha));
}


/*@font-face {
    font-family: neuehaasroman;
    src: url(fonts/neuehaasroman.ttf);
}

@font-face {
    font-family: neuehaas65;
    src: url(fonts/neuehaas65.ttf);
}

@font-face {
    font-family: neuehaas75;
    src: url(fonts/neuehaas75.ttf);
}*/

/* -- neuehaas --*/

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/*--orpheus--*/

@font-face {
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: italic;
}


/* -- first iteration --*/

    body {
        background: #fff000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100vw;
        overflow-x: hidden;
    }


    .wrapper {
        /* border: 2px solid red;
        box-sizing: border-box; --*/
        max-width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        /*grid-template-columns: 1fr;
        grid-template-rows: 5vh 95vh;
        grid-template-areas: 
        "header"
        "contentblue"
        "contentpink";*/
        max-width: 100vw;
        margin-bottom: -5vh;
        /* padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px; */
    }



    /*--Header-- */

     .header {

        /*-header2-- */
           /* display: grid;
            position: sticky;
            top: 0; -- */
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            top: 0;
            height: 5vh;
            max-width: 100vw;
            font-family:  neue-haas-grotesk-display;
            font-weight: 600;
            padding: 5px 15px 5px 15px;
            font-size: 0.9vw;
            background-color: #fff000;
            /*mix-blend-mode: multiply;*/
            z-index: 3;
        }

        a.homebtn {
            mix-blend-mode: multiply;
            color: rgba(var(--textblue),1);
            text-decoration: none;
            font-family: neue-haas-grotesk-display;
            font-weight: 600;
        }

        /*--header button pink--*/
        button.pink-mode-toggle {
                background-color: transparent;
                color: rgba(var(--textblue),1);
                margin: none;
                border: none;
                mix-blend-mode: multiply;
                padding: 0px;
                font-family: neue-haas-grotesk-display;
                font-weight: 600;

        }

        button.pink-mode-toggle {
            cursor: pointer;
        }

        button.pink-mode-toggle:hover {
            color: rgba(var(--textblueopacity));
        }


    /*-- Content --*/

    .content {
        /*border: 2px solid blue;*/
        height: max-content;
        font-family: neue-haas-grotesk-display;
        color: rgba(var(--textblue),1);
        mix-blend-mode: multiply;
        margin-top: -20px;
        padding: 0px 15px 15px 15px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: max-content max-content; 
        z-index: 2;
        
    }

    p .n {
        font-family: neue-haas-grotesk-display;
        font-weight: 600;
    }

    .text {
        font-size: 2vw;
        grid-column: 1 / span 2;
    }

    .links {
        grid-row: 2 / span 3;
        grid-column: 1 / span 1;
        height: max-content;
        font-size: 1.5vw;
        padding-bottom: 0vw;
    }

    a {
        text-decoration: none;
        color: black;
    }

    /* -- footer --*/
    
        .footer {
            /*border: 2px solid red;*/
            position: sticky;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: right;
            background: #fff000;
            max-width: 100vw;
            min-width: 100vw;
            height: 5vh;
            font-size: 1vw;
            font-family: neue-haas-grotesk-display;
            font-weight: 600;
            margin-right: 15px;
        }

        .aboutbtn {
            color: rgba(var(--textblue),1);
            text-decoration: none;
            mix-blend-mode: multiply;
            padding-right: 15px;
        }

        .contentsbtn {
            color: rgba(var(--textblue),1);
            text-decoration: none;
            mix-blend-mode: multiply;
            padding-right: 15px;
        }








/*-- responsive edits --*/

   /*-- first iteration --*/
    @media (max-width: 900px) {

        
        .header {  
            top: 0;
            font-size: 10px;
            height: 5vh;
            background-color: #fff000;
            mix-blend-mode: normal;
            }

        a.home {
            mix-blend-mode: multiply;
        }

        a.pink {
            mix-blend-mode: multiply;
        }

        .content {
            flex-direction: column;
            font-size: 1em;
            max-width: 100%;
            margin-top: -10px;
             padding-bottom: 30px;
        }

        .text {
            grid-column: 1 / span 3;
            font-size: 5vw;
        }

        .links {
            grid-column: 1 / span 2;
            font-size: 5vw;
        }


        .footer {
            font-size: 10px;
            height: 5vh;
            padding: 0px;
        }

        .aboutbtn {
            padding: 0px 15px 0px 15px;
        }

        .contentsbtn {
            padding: 0px 15px 0px 15px;
        }

    }