:root {
    --main-color: #fff000;
    /*--blue: #009FE3;*/
    --blue: 0, 159, 227;
    --blueimg: 55,163,53;
    --pink: 255,0,255;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.1;

    --foreground: var(--blue);
    --background: var(--pink);

    --foregroundblue: rgba(var(--pink));
    --foregroundpink: rgba(var(--blue));

    --textblue: var(--blue);
    --textpink: var(--pink);

    --textblueopacity: rgba(var(--blue), var(--alpha));
    --textpinkopacity: rgba(var(--pink), var(--beta));

}

.pinkmode {
    --main-color: #fff000;
    /*--pink: #FF00FF;*/
    --pink: 255,0,255;
    --pinkimg: 252,0,71;
    --blue: 0, 159, 227;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.1;

    --foreground: var(--pink);
    --background: var(--blue);

    --foregroundblue: rgba(var(--blue));
    --foregroundpink: rgba(var(--pink));

    --textblue: var(--pink);
    --textpink: var(--blue);

    --textblueopacity: rgba(var(--blue), var(--beta));
    --textpinkopacity: rgba(var(--pink), var(--alpha));
}


/*@font-face {
    font-family: neuehaasroman;
    src: url(fonts/neuehaasroman.ttf);
}

@font-face {
    font-family: neuehaas65;
    src: url(fonts/neuehaas65.ttf);
}

@font-face {
    font-family: neuehaas75;
    src: url(fonts/neuehaas75.ttf);
}*/


@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}



/* -- first iteration --*/

    body {
        background: #fff000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100vw;
    }


    .wrapper {
        /*border: 2px solid purple;*/
        max-width: 100vw;
        /* min-height: fit-content; */
        max-height: fit-content;
        display: grid;
        max-width: 100vw;
        margin-bottom: -5vh;
    }



    /*--Header-- */

     .header {

        /*-header2-- */
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            top: 0;
            height: 5vh;
            max-width: 100vw;
            font-family: neue-haas-grotesk-display;
            font-weight: 600;
            padding: 5px 15px 5px 15px;
            font-size: 0.9vw;
            background-color: #fff000;
            /* mix-blend-mode: multiply; */
            z-index: 3;
        }

        a.homebtn {
            mix-blend-mode: multiply;
            color: rgba(var(--textblue),1);
            text-decoration: none;
            font-family: neue-haas-grotesk-display;
            font-weight: 600;
        }

        /*--header button pink--*/
        button.pink-mode-toggle {
                background-color: transparent;
                color: rgba(var(--textblue),1);
                margin: none;
                border: none;
                mix-blend-mode: multiply;
                padding: 0px;
                font-family: neue-haas-grotesk-display;
                font-weight: 600;

        }

        button.pink-mode-toggle {
            cursor: pointer;
        }

        button.pink-mode-toggle:hover {
            color: rgba(var(--textblueopacity));
        }

         /* -- footer --*/
    
         .footer {
                /* border: 2px solid red; */
                position: fixed;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: right;
                /* background: #fff000; */
                max-width: 100vw;
                min-width: 100vw;
                height: 5vh;
                font-size: 1vw;
                font-family: neue-haas-grotesk-display;
                font-weight: 600;
                margin-right: 0px;
                mix-blend-mode: multiply;
        }

        .aboutbtn {
            color: rgba(var(--textblue),1);
            text-decoration: none;
            mix-blend-mode: multiply;
            padding-right: 15px;
        }

        .contentsbtn {
            color: rgba(var(--textblue),1);
            text-decoration: none;
            mix-blend-mode: multiply;
            padding-right: 15px;
        }


    /*-- Content --*/

        .container {
            /*border: 2px solid green; */
            /*background-color: rgba(var(--textblue),1);*/
            display: grid;
            box-sizing: border-box;
            max-width: 100vw;
            margin-top: 1vh;
            padding: 15px 15px;
            max-height: fit-content;
            font-family: neue-haas-grotesk-display;
            font-weight: 500;
            color: rgba(var(--textblue));
            mix-blend-mode: multiply;
        }

        h1 {
            font-weight: 600;
        }

        h3 {
            font-weight: 500;
        }

        p {
            font-weight: 500;
        }







/*-- responsive edits --*/

   /*-- first iteration --*/
    @media (max-width: 900px) {

        
        
        .header {  
        position: sticky;
        top: 0;
        font-size: 10px;
        height: 5vh;
        padding-top: 10px;
        background-color: #fff000;
        mix-blend-mode: normal;
        }

        a.home {
            mix-blend-mode: multiply;
        }

        a.pink {
            mix-blend-mode: multiply;
        }

        #contentblue {
            display: inline-block;
            min-height: 100vh;
            gap: 0px;
        }