:root {
    --main-color: #fff000;
    /*--blue: #009FE3;*/
    --blue: 0, 159, 227;
    --blueimg: 55,163,53;
    --pink: 255,0,255;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.1;

    --foreground: var(--blue);
    --background: var(--pink);

    --foregroundblue: rgba(var(--pink));
    --foregroundpink: rgba(var(--blue));

    --textblue: var(--blue);
    --textpink: var(--pink);

    --textblueopacity: rgba(var(--blue), var(--alpha));
    --textpinkopacity: rgba(var(--pink), var(--beta));

    --column: 200px;
    --margin: 15px;

    --column-mobile: 500px

}

.pinkmode {
    --main-color: #fff000;
    /*--pink: #FF00FF;*/
    --pink: 255,0,255;
    --pinkimg: 252,0,71;
    --blue: 0, 159, 227;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.1;

    --foreground: var(--pink);
    --background: var(--blue);

    --foregroundblue: rgba(var(--blue));
    --foregroundpink: rgba(var(--pink));

    --textblue: var(--pink);
    --textpink: var(--blue);

    --textblueopacity: rgba(var(--blue), var(--beta));
    --textpinkopacity: rgba(var(--pink), var(--alpha));

    --column: 200px;
    --margin: 15px;

    --column-mobile: 150px
}


/*@font-face {
    font-family: neuehaasroman;
    src: url(fonts/neuehaasroman.ttf);
}

@font-face {
    font-family: neuehaas65;
    src: url(fonts/neuehaas65.ttf);
}

@font-face {
    font-family: neuehaas75;
    src: url(fonts/neuehaas75.ttf);
}*/


@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}



/* -- first iteration --*/

    body {
        background: #fff000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100vw;
    }


    .wrapper {
        /*border: 2px solid purple;*/
        max-width: 100vw;
        /* min-height: fit-content; */
        max-height: 255vw;
        max-width: 100vw;
        margin-bottom: -5vh;
    }



    /*--Header-- */

     .header {

        /*-header2-- */
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            top: 0;
            height: 5vh;
            max-width: 100vw;
            font-family: neue-haas-grotesk-display;
            font-weight: 600;
            padding: 5px 15px 5px 15px;
            font-size: 0.9vw;
            background-color: #fff000;
            /* mix-blend-mode: multiply; */
            z-index: 3;
        }

        a.homebtn {
            mix-blend-mode: multiply;
            color: rgba(var(--textblue),1);
            text-decoration: none;
            font-family: neue-haas-grotesk-display;
            font-weight: 600;
        }

        /*--header button pink--*/
        button.pink-mode-toggle {
                background-color: transparent;
                color: rgba(var(--textblue),1);
                margin: none;
                border: none;
                mix-blend-mode: multiply;
                padding: 0px;
                font-family: neue-haas-grotesk-display;
                font-weight: 600;

        }

        button.pink-mode-toggle {
            cursor: pointer;
        }

        button.pink-mode-toggle:hover {
            color: rgba(var(--textblueopacity));
        }

        /* -- table styling --*/

        h3 {
            font-weight: 500;
        }

        .sidebar {
            /*border: 2px solid red;*/
            font-family: neue-haas-grotesk-display;
            font-weight: 500;
            mix-blend-mode: multiply;
            color: rgba(var(--textblue),1);
            position: fixed;
            grid-column: 1 / span 1;
            height: 93vh;
            width: 16vw;
            border-right: 2px solid rgba(var(--textblue),1);
            padding: 0px 0px 0px 15px;
            /*position: fixed;
            background-color: #fff000;*/
            
        }

        h1 {
            font-weight: 600;
            font-size: 4vw;
            margin: 0px 0px 0px 0px;

        }

        h2 {
            font-weight: 600;
            margin: 0px 0px 5px 0px;
        }


        .container {
            font-family: neue-haas-grotesk-display;
            font-weight: 500;
            color: rgba(var(--textblue));
            mix-blend-mode: multiply;
            display: grid;
            align-items: start;
            grid-template-columns: repeat(auto-fit, var(--column));
            position: relative;
            min-height: 100vh;
            box-sizing: border-box;
            overflow: hidden;
            margin-left: 18vw;
            margin-right: 40px;
        }

        .index-list {
            /*display: grid;*/
            /*display: flex;*/
            grid-column: 1/-1;
            column-width: var(--column);
            column-gap: 0;
            will-change: transform;
        }

        ul {
            list-style-type: none;
            text-indent: 0%;
            padding-left: 0px;
            font-size: 1.5vw;
            font-weight: 600;
        }

        

        li {
            list-style-type: none;
            font-size: 1vw;
            font-weight: 500;
            line-height: 1vw;
            margin: 0px 0px 20px 0px;
        }

      
        p.archetypename {
            margin: 0px 0px 0px 0px;
            font-size: 0.8vw;
            opacity: 0.5;
            
        }

        p.subarchetypename {
            margin: 0px 0px 0px 0px;
            font-size: 0.8vw;
            opacity: 0.5;
        }

        .a-class {
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            break-inside: avoid;
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamea {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
            
        }

        .b-class {
            /*border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenameb {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .c-class {
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamec {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .d-class {
            /*border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamed {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .e-class {
            /*border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamee {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .f-class {
            /*border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamef {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .g-class {
            /*border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenameg {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .h-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;

        } 

        .titlenameh {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .i-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamei {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .j-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamej {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .k-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamek {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .l-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
           /* break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamel {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .m-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamem {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .n-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }


        .titlenamen {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .o-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenameo {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .p-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
            break-inside: avoid;
        }

        .titlenamep {
            margin-bottom: 5px;
            margin-top: 15px;
        }

        .q-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenameq {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .r-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamer {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .s-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenames {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .t-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamet {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .u-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
            
        }

        .titlenameu {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .v-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamev {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .w-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamew {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .x-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamex {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .y-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamey {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

        .z-class {
            /*--border-right: 1px solid rgba(var(--textblue));*/
            padding: 0px;
            /*border-right: 1px solid rgba(var(--textblue));*/
            width: calc(100% - var(--margin)*2);
            position: relative;
            margin: 0 0 1px var(--margin);
            /*break-inside: avoid;*/
            vertical-align: top;
            margin-bottom: 15px;
        }

        .titlenamez {
            margin-bottom: 5px;
            margin-top: 15px;
            break-inside: avoid;
        }

         /* -- footer --*/
    
         .footer {
                /* border: 2px solid red; */
                position: fixed;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: right;
                /* background: #fff000; */
                max-width: 100vw;
                min-width: 100vw;
                height: 5vh;
                font-size: 1vw;
                font-family: neue-haas-grotesk-display;
                font-weight: 600;
                margin-right: 0px;
                mix-blend-mode: multiply;
        }

        .aboutbtn {
            color: rgba(var(--textblue),1);
            text-decoration: none;
            mix-blend-mode: multiply;
            padding-right: 15px;
        }

        .contentsbtn {
            color: rgba(var(--textblue),1);
            text-decoration: none;
            mix-blend-mode: multiply;
            padding-right: 15px;
        }






/*-- responsive edits --*/

   /*-- first iteration --*/
    @media (max-width: 900px) {

        .wrapper {
            min-height: max-content;
            max-height: max-content;
        }

        .header {  
        position: sticky;
        top: 0;
        font-size: 10px;
        height: 5vh;
        padding-top: 10px;
        background-color: #fff000;
        mix-blend-mode: normal;
        }

        a.home {
            mix-blend-mode: multiply;
        }

        a.pink {
            mix-blend-mode: multiply;
        }

        .sidebar {
            width: 30vw;
            height: 92vh;
        }
        
        h1 {
            font-size: 10vw;
        }

        .container {
            margin-left: 30vw;
            padding-left: 15px;
            margin-right: 15px;
            padding-top: 8px;
        }

        ul {
            font-size: 5vw;
        }

        li {
            font-size: 5vw;
            line-height: 6vw;
        }

        p.archetypename {
            margin: 0px 0px 0px 0px;
            font-size: 4vw;
            opacity: 0.5;

        }

        p.subarchetypename {
            margin: 0px 0px 0px 0px;
            font-size: 4vw;
            opacity: 0.5;

        }

        .index-list {
           column-width: var(--column-mobile);
        }
        

        .titlenamea {
            margin: 0px;
        }

        .titlenameb {
            margin: 0px;
        }

        .titlenamec {
            margin: 0px;
        }

        .titlenamed {
            margin: 0px;
        }

        .titlenamee {
            margin: 0px;
        }

        .titlenamef {
            margin: 0px;
        }

        .titlenameg {
            margin: 0px;
        }

        .titlenameh {
            margin: 0px;
        }

        .titlenamei {
            margin: 0px;
        }

        .titlenamej {
            margin: 0px;
        }

        .titlenamek {
            margin: 0px;
        }

        .titlenamel {
            margin: 0px;
        }

        .titlenamem {
            margin: 0px;
        }

        .titlenamen {
            margin: 0px;
        }

        .titlenameo {
            margin: 0px;
        }

        .titlenamep {
            margin: 0px;
        }

        .titlenameq {
            margin: 0px;
        }

        .titlenamer {
            margin: 0px;
        }

        .titlenames {
            margin: 0px;
        }

        .titlenamet {
            margin: 0px;
        }

        .titlenameu {
            margin: 0px;
        }

        .titlenamev {
            margin: 0px;
        }

        .titlenamew {
            margin: 0px;
        }

        .titlenamex {
            margin: 0px;
        }

        .titlenamey {
            margin: 0px;
        }

        .titlenamez {
            margin: 0px;
        }

        .footer {
            font-size: 10px;
        }

    }