:root {
    --main-color: #fff000;
    /*--blue: #009FE3;*/
    --blue: 0, 159, 227;
    --blueimg: 55,163,53;
    --pink: 255,0,255;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.1;

    --foreground: var(--blue);
    --background: var(--pink);

    --foregroundblue: rgba(var(--pink));
    --foregroundpink: rgba(var(--blue));

    --textblue: var(--blue);
    --textpink: var(--pink);

    --textblueopacity: rgba(var(--blue), var(--alpha));
    --textpinkopacity: rgba(var(--pink), var(--beta));

}

.pinkmode {
    --main-color: #fff000;
    /*--pink: #FF00FF;*/
    --pink: 255,0,255;
    --pinkimg: 252,0,71;
    --blue: 0, 159, 227;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.1;

    --foreground: var(--pink);
    --background: var(--blue);

    --foregroundblue: rgba(var(--blue));
    --foregroundpink: rgba(var(--pink));

    --textblue: var(--pink);
    --textpink: var(--blue);

    --textblueopacity: rgba(var(--blue), var(--beta));
    --textpinkopacity: rgba(var(--pink), var(--alpha));
}


/*@font-face {
    font-family: neuehaasroman;
    src: url(fonts/neuehaasroman.ttf);
}

@font-face {
    font-family: neuehaas65;
    src: url(fonts/neuehaas65.ttf);
}

@font-face {
    font-family: neuehaas75;
    src: url(fonts/neuehaas75.ttf);
}*/


@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}



/* -- first iteration --*/

    body {
        background: #fff000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100vw;
    }


    .wrapper {
        /* border: 2px solid red;
        box-sizing: border-box; --*/
        max-width: 100vw;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5vh 95vh;
        grid-template-areas: 
        "header"
        "contentblue"
        "contentpink";
        max-width: 100vw;
        /* padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px; */
    }



    /*--Header-- */

     .header {

        /*-header2-- */
           /* display: grid;
            position: sticky;
            top: 0; -- */
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5vh;
            max-width: 100vw;
            padding: 5px 15px 5px 15px;
            font-size: 0.9vw;
            background-color: transparent;
            mix-blend-mode: multiply;
        }

        a.homebtn {
            mix-blend-mode: multiply;
            color: rgba(var(--textblue),1);
            text-decoration: none;
            font-family: neue-haas-grotesk-display;
            font-weight: 600;
        }

        /*--header button pink--*/
        button.pink-mode-toggle {
                background-color: transparent;
                color: rgba(var(--textblue),1);
                margin: none;
                border: none;
                mix-blend-mode: multiply;
                padding: 0px;
                font-family: neue-haas-grotesk-display;
                font-weight: 600;

        }

        button.pink-mode-toggle {
            cursor: pointer;
        }

        button.pink-mode-toggle:hover {
            color: rgba(var(--textblueopacity));
        }


    /*-- Content --*/

        #content {
            border: 2px solid green; 
            background-color: #009FE3; */
            display: grid;
            /*grid-template-columns: 1fr 1fr;
            grid-template-rows: 50% 50%;
            grid-template-areas: 
            "mother maiden"
            "crone wild";*/
            box-sizing: border-box;
            max-width: 100vw;
            margin-top: 1vh;
            padding: 15px 15px;

        }

    /*--footer--*/
    
        .footer {
            /*border: 2px solid red;*/
            position: fixed;
            display: flex;
            align-self: flex-end;
            align-items: center;
            justify-content: space-between;
            background: #fff000;
            width: 98vw;
            height: 3vh;
            font-size: 0.9vw;
            padding: 5px 15px 5px 15px;

        }

        .portfoliobtn {
            color: rgba(var(--textblue),1);
            text-decoration: none;
            font-family: neue-haas-grotesk-display;
            font-weight: 600;
            mix-blend-mode: multiply;
        }

        .contentsbtn {
            color: rgba(var(--textblue),1);
            text-decoration: none;
            font-family: neue-haas-grotesk-display;
            font-weight: 600;
            mix-blend-mode: multiply;
            float: right;
        }







/*-- responsive edits --*/

   /*-- first iteration --*/
    @media (max-width: 900px) {

        
        
        .header {  
        position: sticky;
        top: 0;
        font-size: 10px;
        height: 5vh;
        padding-top: 10px;
        background-color: #fff000;
        mix-blend-mode: normal;
        }

        a.home {
            mix-blend-mode: multiply;
        }

        a.pink {
            mix-blend-mode: multiply;
        }

        #contentblue {
            display: inline-block;
            min-height: 100vh;
            gap: 0px;
        }