:root {
    --main-color: #fff000;
    /*--blue: #009FE3;*/
    --blue: 0, 159, 227;
    --blueimg: 55,163,53;
    --pink: 255,0,255;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.2;

    --foreground: var(--blue);
    --background: var(--pink);

    --textblue: var(--blue);
    --textpink: var(--pink);

    --textblueopacity: rgba(var(--blue), var(--alpha));
    --textpinkopacity: rgba(var(--pink), var(--beta));

    --imageblueopacity: rgba(var(--alpha));
    --imagepinkopacity: rgba(var(--beta));

    --pullquotesblueopacity: rgba(var(--blue), var(--alpha));
    --pullquotespinkopacity: rgba(var(--pink), var(--beta));


}

.pinkmode {
    --main-color: #fff000;
    /*--pink: #FF00FF;*/
    --pink: 255,0,255;
    --pinkimg: 252,0,71;
    --blue: 0, 159, 227;
    --trans: 255, 255, 255;
    --alpha: 1;
    --beta: 0.2;

    --foreground: var(--pink);
    --background: var(--blue);

    --textblue: var(--pink);
    --textpink: var(--blue);

    --textblueopacity: rgba(var(--blue), var(--beta));
    --textpinkopacity: rgba(var(--pink), var(--alpha));

    --imageblueopacity: rgba(var(--blueimg), var(--beta));
    --imagepinkopacity: rgba(var(--pinkimg), var(--alpha));

    --pullquotesblueopacity: rgba(var(--blue), var(--beta));
    --pullquotespinkopacity: rgba(var(--pink), var(--alpha));

}


@font-face {
    font-family: neuehaasroman;
    src: url(neuehaasroman.ttf);
}

@font-face {
    font-family: neuehaas65;
    src: url(neuehaas65.ttf);
}

@font-face {
    font-family: neuehaas75;
    src: url(neuehaas75.ttf);
}

@font-face {
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "orpheuspro", serif;
    font-weight: 400;
    font-style: italic;
}


/* -- first iteration --*/

    body {
        /*border: 2px solid green;*/
       /* background: var(--foreground); */
        background: #fff000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100vw;
    }


    .wrapper {
        /*border: 2px solid red;*/
        box-sizing: border-box;
        max-width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        /* padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px; */
    }

    /*--Header-- */

     .header {

        /*-header2-- */
           /* display: grid;--*/
            /*border: 2px solid purple;*/
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            top: 0;
            height: 5vh;
            max-width: 100vw;
            font-family: neuehaas65;
            padding: 5px 20px 5px 20px;
            font-size: 12px;
            background-color: #fff000;
            /*mix-blend-mode: multiply;*/
            z-index: 3;
        }

        a.homebtn {
            mix-blend-mode: multiply;
            color: rgba(var(--textblue),1);
            text-decoration: none;
        }

        /*--header button pink--*/
        button.pink-mode-toggle {
                background-color: transparent;
                color: rgba(var(--textblue),1);
                margin: none;
                border: none;
                mix-blend-mode: multiply;
                padding: 0px;

        }

        button.pink-mode-toggle {
            cursor: pointer;
            font-weight: bold;
        }

        button.pink-mode-toggle:hover {
            color: rgba(var(--textblueopacity));
        }

        /* main content */

     .tabscontainer {
        /* border: 2px solid black; 
        background-color: var(--foreground); */
        height: max-content;
        display: flex;
        /*mix-blend-mode: multiply;*/
        }

        p {
            /*font-size: 1rem;*/
            mix-blend-mode: multiply;
            margin: 0px;
            font-size: 1.1vw;
        }

        .imagebg {
            position: fixed;
            min-height: 100vh;
            min-width: 82.5vw;
            max-height: 100vh;
            max-width: 82.5vw;
            margin-left: 18vw;
            background-image: url("../images/motherbg.png");
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 70%;
        }

        /* side bar */

            #tabs_sidebar {
                    /* border: 2px solid red; */
                    /* background-color: rgba(var(--textblue),1); */
                    /* mix-blend-mode: multiply; */
                    position: fixed;
                    min-height: 90vh;
                    max-height: 90vh;
                    min-width: 17.5vw;
                    max-width: 17.5vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: neuehaas65;
                    font-size: 1em;
                    z-index: 2;
                    mix-blend-mode: multiply;
                    border-right: 2px solid rgba(var(--textblue),1);
                    padding: 10px 0px 0px 5px;
                    
            }

            .hamburgermenu {
                display: none;  
              }
           

            /* tab buttons */
                    button.tabs_button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-justify: left;
                        background-color: transparent;
                        color: var(--main-color);
                        min-height: 60px;
                        max-height: 60px;
                        min-width: 100%;
                        border: none;
                        mix-blend-mode: multiply;

                    }

                        p.tabs_button {
                            mix-blend-mode: normal;
                        }

                        button.tabs_button:active {
                            background-color: var(--main-color);
                            color: rgba(var(--textblue),1); 
                        }

                        button.tabs_button--active {
                            background-color: transparent;
                            color: rgba(var(--textblue),1);
                            text-decoration: none;
                            font-family: neuehaas75;
                            mix-blend-mode: multiply;
                            border-bottom: 2px solid rgba(var(--textblue),1);

                        }

                        button.tabs_button:hover {
                            cursor: pointer;
                            mix-blend-mode: multiply;
                    }


        /* tab info */

            .tabs_content {
                display: none;
                /*border: 2px solid red;*/
                margin-left: 17.5vw;
                padding: 20px 20px 0px 40px;
                font-family: neuehaasroman;
                color: rgba(var(--textblue),1);
                /*background-image: url("../images/maidebg2.png");*/
                /*background-color: var(--main-color);*/
                z-index: 1;
                /*overflow: auto;*/
            }

            .tabs_content--active {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 
                max-content max-content max-content 
                max-content max-content max-content 
                max-content max-content max-content;
                grid-gap: 20px;
                mix-blend-mode: multiply;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }


            h1.title {
                mix-blend-mode: multiply;
                background-color: transparent;
                font-size: 4rem;
                grid-column: span 3;
                padding: 5px 0px 0px 0px;
                margin: 0px;
                font-family: neuehaas65;
            }

            h3.definitions {
                mix-blend-mode: multiply;
                grid-column-start: 1;
                grid-column-end: 3;
                margin: 0px;
                padding: 0px;
            }

            p.def {
                font-family: neuehaas65;
                margin: 0;
            }

            ul.def {
                list-style: numbers;
                margin-left: -20px;
            }

            .imagebox {
                position: relative;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                }

                /*--imgstest--*/
                    img.test1 {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            background-color: var(--imageblueopacity);
                            mix-blend-mode: multiply;
                            z-index: 3;
                            
                    } 

                    img.test2 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        background-color: var(--imagepinkopacity);
                        mix-blend-mode: multiply; 
                        z-index: 3;
                    } 

                    .imagecaptions {
                        position: relative;
                        margin: 15px 0px 0px 0px;
                        font-size: 0.95em;
                        height: max-content;
                    }

                    p.imgcaptionblue {
                        position: absolute;
                        font-family: orpheuspro;
                        mix-blend-mode: multiply;
                        color: var(--textblueopacity);
                        margin: 0;

                    }

                    p.imgcaptionpink {
                        position: absolute;
                        font-family: orpheuspro;
                        mix-blend-mode: multiply;
                        color: var(--textpinkopacity);
                        margin: 0;

                    }

                /*--footnotes--*/
        
                    .footnotescontainer {
                        /*border: 2px solid red;*/
                        position: relative;
                        flex-wrap: wrap;
                        grid-column: span 2;
                        grid-row-start: 8;
                        grid-row-end: 9;
                        font-family: orpheuspro;
                        font-size: 12px;

                    }

                    .footnotesbluecontainer {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        list-style: numbers;
                        color: var(--textblueopacity);

                    }

                    .footnotespinkcontainer {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        list-style: numbers;
                        color: var(--textpinkopacity);
                    }

                    ul.footnotes {
                        list-style: numbers;
                        margin-left: -30px;
                    }

                        /*--tab specific content --*/

                            .imagewhole1 {
                                display: grid;
                                grid-template-rows: 90% 10%;
                                margin-bottom: 0px;
                                /* justify-content: space-between; */
                                flex-direction: column;
                                grid-column-start: 2;
                                grid-row-start: 5;
                            }


                            .imagewhole2 {
                                display: grid;
                                grid-template-rows: 90% 10%;
                                margin-bottom: 20px;
                                /*flex-direction: column;*/
                                grid-row-start: 6;
                                grid-column-start: 1;
                            }

                            .bodytxtblue1 {
                                margin: 0;
                                grid-row-start: 3;
                                grid-column-start: 2;
                                color: var(--textblueopacity);
                            }

                            .bodytxtpink1 {
                                mix-blend-mode: multiply;
                                grid-row-start: 4;
                                grid-column-start: 2;
                                color: var(--textpinkopacity);
                                margin: 0;
                            }


                            .bodytxtblue2 {
                                color: var(--textblueopacity);
                                margin-top: 0;
                                mix-blend-mode: multiply;
                                grid-row-start: 5;
                                grid-column-start: 1;
                            }

                            .bodytxtblue2 .pullquotesblue {
                                background: var(--pullquotesblueopacity);
                                color: #fff000;
                            }

                            .imagewhole3 {
                                display: grid;
                                grid-template-rows: 90% 10%;
                                margin-bottom: 0px;
                                flex-direction: column;
                                grid-row-start: 3;
                                grid-row-end: 5;
                                grid-column-start: 3;
                            }

                            .bodytxtblue3 {
                                position: relative;
                                color: var(--textblueopacity);
                                /* margin-top: 520px; */
                                mix-blend-mode: multiply;
                                grid-row-start: 6;
                                grid-column-start: 2;
                                margin-top: 0;
                            }

                            .imagewhole4 {
                                display: grid;
                                grid-template-rows: 90% 10%;
                                margin-bottom: 0px;
                                flex-direction: column;
                                grid-row-start: 3;
                                grid-row-end: 5;
                                grid-column-start: 1;
                            }

                            .bodytxtpink2 {
                                position: relative;
                                mix-blend-mode: multiply;
                                grid-row-start: 5;
                                grid-row-end: 6;
                                grid-column-start: 3;
                                color: var(--textpinkopacity);
                                margin: 0;
                            }

                            .bodytxtpink2 .indent {
                                margin-left: 50%;
                            }

                            .bodytxtblue3 {
                                /*position: relative;*/
                                display: flex;
                                flex-direction: column;
                                mix-blend-mode: multiply;
                                justify-content: flex-end;
                                grid-row-start: 6;
                                grid-row-end: 7;
                                grid-column-start: 2;
                                color: var(--textblueopacity);
                                margin: 0;
                            }

                            /*-- imperfect mother --*/

                            .imagewhole5 {
                                display: grid;
                                grid-template-rows: 90% 10%;
                                margin-bottom: 0px;
                                /* justify-content: space-between; */
                                flex-direction: column;
                                grid-column-start: 1;
                                grid-row-start: 3;
                            }


                            .bodytxtblue4 {
                                color: var(--textblueopacity);
                                grid-row-start: 3;
                                grid-row-end: 4;
                                grid-column-start: 2;
                                margin-bottom: 0px;
                            }

                            .imagewhole6 {
                                display: grid;
                                grid-template-rows: 90% 10%;
                                margin-bottom: 0px;
                                flex-direction: column;
                                grid-column-start: 3;
                                grid-row-start: 3;
                            }

                            .bodytxtpink3 {
                                color: var(--textpinkopacity);
                                grid-row-start: 4;
                                grid-row-end: 5;
                                grid-column-start: 1;
                                margin-top: 20px;
                            }

                            .imagewhole7 {
                                display: grid;
                                grid-template-rows: 90% 10%;
                                margin-bottom: 0px;
                                /* justify-content: space-between; */
                                flex-direction: column;
                                grid-column-start: 2;
                                grid-row-start: 4;
                                grid-row-end: 6;
                            }


                            .bodytxtblue5 {
                                color: var(--textblueopacity);
                                grid-row-start: 4;
                                grid-row-end: 5;
                                grid-column-start: 3;
                                margin-top: 40px;
                            }

                            .bodytxtblue6 {
                                color: var(--textblueopacity);
                                grid-row-start: 5;
                                grid-row-end: 6;
                                grid-column-start: 1;
                                margin-top: 0px;
                            }

                            .bodytxtblue6 .pullquotesblue {
                                background: var(--pullquotesblueopacity);
                                color: #fff000;
                            }

                            .imagewhole8 {
                                display: grid;
                                grid-template-rows: 90% 10%;
                                margin-bottom: 0px;
                                /* justify-content: space-between; */
                                flex-direction: column;
                                grid-column-start: 3;
                                grid-row-start: 6;
                                grid-row-end: 8;
                            }

                            .bodytxtblue7 {
                                color: var(--textblueopacity);
                                grid-row-start: 7;
                                grid-column-start: 2;
                                margin-top: 0px;
                            }

                            .imagewhole9 {
                                display: grid;
                                grid-template-rows: 90% 10%;
                                margin-bottom: 0px;
                                /* justify-content: space-between; */
                                flex-direction: column;
                                grid-column-start: 1;
                                grid-row-start: 6;
                                grid-row-end: 8;
                            }

                            .bodytxtpink4 {
                                color: var(--textpinkopacity);
                                grid-row-start: 6;
                                grid-row-end: 7;
                                grid-column-start: 2;
                                margin-top: 0px;
                            }

                            .bodytxtpink5 {
                                color: var(--textpinkopacity);
                                grid-row-start: 4;
                                grid-row-end: 6;
                                grid-column-start: 3;
                                margin-top: 75%;
                            }

                            .bodytxtpink5 .pullquotespink {
                                background: var(--pullquotespinkopacity);
                                color: #fff000;
                            }

                            /*-- matriarch--*/

                            .bodytxtblue8 {
                                color: var(--textblueopacity);
                                grid-row-start: 3;
                                grid-row-end: 4;
                                grid-column-start: 1;
                                margin-top: 0px;
                            }


                            .bodytxtpink6 {
                                color: var(--textpinkopacity);
                                grid-row-start: 4;
                                grid-row-end: 5;
                                grid-column-start: 1;
                                margin-top: 0px;
                            }

                            .bodytxtblue9 {
                                color: var(--textblueopacity);
                                grid-row-start: 3;
                                grid-row-end: 4;
                                grid-column-start: 2;
                                margin-top: 0px;
                            }

                            .bodytxtblue10 {
                                color: var(--textblueopacity);
                                grid-row-start: 3;
                                grid-column-start: 3;
                                margin-top: 0px;
                            }

                            .bodytxtblue10 .pullquotesblue {
                                background: var(--pullquotesblueopacity);
                                color: #fff000;
                            }

                            .bodytxtpink7 {
                                color: var(--textpinkopacity);
                                grid-row-start: 4;
                                grid-row-end: 5;
                                grid-column-start: 2;
                                margin-top: 0px;
                            }

                            .bodytxtpink8 {
                                color: var(--textpinkopacity);
                                grid-row-start: 4;
                                grid-row-end: 5;
                                grid-column-start: 3;
                                margin-top: 0px;
                            }

                            .bodytxtpink8 .pullquotespink {
                                background: var(--pullquotespinkopacity);
                                color: #fff000;
                            }

                            /*-- stepmother --*/

                            .bodytxtblue11 {
                                color: var(--textblueopacity);
                                grid-row-start: 3;
                                grid-row-end: 4;
                                grid-column-start: 1;
                                margin-top: 0px;
                            }


                            .bodytxtpink9 {
                                color: var(--textpinkopacity);
                                grid-row-start: 4;
                                grid-row-end: 5;
                                grid-column-start: 1;
                                margin-top: 0px;
                            }

                            .bodytxtblue12 {
                                color: var(--textblueopacity);
                                grid-row-start: 3;
                                grid-row-end: 4;
                                grid-column-start: 2;
                                margin-top: 0px;
                            }

                            .bodytxtblue12 .pullquotesblue {
                                background: var(--pullquotesblueopacity);
                                color: #fff000;
                            }


                            .bodytxtblue13 {
                                color: var(--textblueopacity);
                                grid-row-start: 3;
                                grid-row-end: 4;
                                grid-column-start: 3;
                                margin-top: 0px;
                            }

                            .bodytxtpink10 {
                                color: var(--textpinkopacity);
                                grid-row-start: 4;
                                grid-row-end: 5;
                                grid-column-start: 2;
                                margin-top: 0px;
                            }

                            .bodytxtpink13 {
                                color: var(--textpinkopacity);
                                grid-row-start: 4;
                                grid-row-end: 5;
                                grid-column-start: 3;
                                margin-top: 0px;
                            }




    





/*-- responsive edits --*/

  /* -- first iteration */
    @media (max-width: 900px) {
        
        .header {  
        position: sticky;
        top: 0;
        font-size: 10px;
        height: 5vh;
        padding-top: 10px;
        background-color: #fff000;
        mix-blend-mode: normal;
        }

        a.home {
            mix-blend-mode: multiply;
        }

        a.pink {
            mix-blend-mode: multiply;
        }

        .tabscontainer {
            /*position: relative;
            justify-content: center;
            display: flex;*/
            flex-direction: column;
            min-height: max-content;
            margin-bottom: 3vw;
            font-size: 1em;
        }  
        
        p {
            font-size: 1em;
        }



        .imagebg {
            margin-left: 0;
            min-height: 100vh;
            min-width: 100vw;
           
        }

        .hamburgermenu {
            /*background-color: red;*/
            display: flex;
            flex-direction: column;
            position: fixed;
            max-width: 100vw;
            min-height: max-content;
            justify-content: flex-end;
            align-content: right;
            mix-blend-mode: multiply;
            padding-left: 73%;
            z-index: 3;
            margin-top: 79vh;
          }

          button#hamburgermenubtn {
            display: block; 
            border: none;
            height: 80px;
            width: 80px;
            padding: 10px;
            position: relative;
            background-color: rgba(var(--textblue),1);
          }

        #tabs_sidebar {
            display: flex;
            /* display: grid; */
            background-color: var(--main-color);
            position: fixed;
            padding-left: 0px;
            padding-top: 0px;
            padding-top: 20px;
            max-width: 100vw;
            min-height: 95vh;
            max-height: 95vh;
            mix-blend-mode: normal;
            border-right: 0px solid rgba(var(--textblue),1);
            opacity: 100%;
            background-color: #fff000;
            } 

            


        button.tabs_button {
            padding: 0px 20px 0px 20px;
            margin-top: 0px;
            width: 100%;
            /*background-color: rgba(var(--textblue),1);*/
            border: none; 
            mix-blend-mode: normal;
            min-height: max-content;
            max-height: max-content;
            justify-content: left;
            text-align: left;
            -webkit-text-stroke: black;
            /*-webkit-text-stroke-width: 1px;*/
            font-size: 2.6rem;
        }

        button.tabs_button:active {
            margin: 2px;
            padding: 0;
            margin: 0;
            /*mix-blend-mode: multiply;*/
            mix-blend-mode: normal;
            background-color: rgba(var(--textblue),1);
            border-right: 2px solid rgba(var(--textblue),1);
            mix-blend-mode: normal;
        }


       /* .tabscontainer {
            padding-top: 10vh;
        }*/

        .tabs_content {
            min-height: max-content;
            margin: 5px 10px 10px 10px;
            padding-bottom: 0;
            mix-blend-mode:normal;
            background-color: #fff000;
        }

        .tabs_content--active {
            display: flex;
            grid-gap: 0;
            flex-direction: column;
            columns: 2.5em auto auto auto;
            padding: 10px 10px 0px 10px;
        }

        h1.title {
            font-size: 2.5em;
            padding: 10px 0px 0px 0px;
            margin: 0vh 0vh 2vh 0vh;
            line-height: 1;
        }

        h3.definitions {
            margin: 0vh 0vh 2vh 0vh;
        }

        .footnotescontainer {
            /*border: 2px solid red;*/
            position: relative;
            flex-wrap: wrap;
            grid-column: 1;
            grid-row-start: 8;
            grid-row-end: 9;
            font-family: orpheuspro;
            font-size: 12px;
            z-index: 0;
            mix-blend-mode: multiply;
    
        }

        ul.def {
                margin-bottom: -5px;
                list-style: lower-roman;
            }

        ul.footnotes {
                list-style: lower-roman;
                margin-bottom: 0px;
            }

        .imagewhole1 {
            display: grid;
            margin-bottom: 30px;
            margin-top: 10px;
            min-height: 60vh;
        }

        .imagebox{
            height: 80%;
        }

        .imagewhole2 {
            display: grid;
            margin-bottom: 60px;
            min-height: 40vh;
            padding-bottom: 0px;
        }

        .bodytxtblue1 {
            margin: 0vh 0vh 3.5vh 0vh;
        }

        .bodytxtblue2 {
            margin: 0px 0px 1vh 0px;
        }

        .bodytxtpink1 {
            margin: 0px 0px 30px 0px;
        }

        .imagewhole3 {
            display: grid;
            margin-bottom: 20px;
            min-height: 70vh;
        }

        .bodytxtblue3 {
            margin: 0px 0px 30px 0px;
        }

        .imagewhole4 {
            display: grid;
            margin-bottom: 10px;
            min-height: 90vh;
            /*padding-bottom: 40px;*/
        }

        .imagewhole5 {
            min-height: 40vh;
            margin-bottom: 30px;
            margin-top: 10px;

        }

        .imagewhole6 {
            min-height: 40vh;
            margin-bottom: 20px;
            margin-top: 20px;

        }

        .bodytxtblue5 {
            margin-top: 0px;
        }

        .imagewhole7 {
            min-height: 80vh;
            margin-bottom: 20px;
            margin-top: 20px;

        }

        .imagewhole8 {
            min-height: 70vh;
            margin-bottom: 20px;
            margin-top: 20px;

        }

        .bodytxtblue6 {
            margin-top: 20px;
        }

        .imagewhole9 {
            min-height: 70vh;
            margin-bottom: 20px;
            margin-top: 20px;

        }

        .bodytxtpink5 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
