@font-face {
    font-family: neuehaas;
    src: url(neuehaasroman.ttf);
}

body {
    background: color #fff000;
    color: black;
    font-family:neuehaas;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: justify;
    text-align: center;
    line-height: 40px;
    margin: 0;
    margin-bottom: 3rem;
    
}