@font-face {
    font-family: neuehaasroman;
    src: url(neuehaasroman.ttf);
}

@font-face {
    font-family: neuehaas65;
    src: url(neuehaas65.ttf);
}

@font-face {
    font-family: neuehaas75;
    src: url(neuehaas75.ttf);
}



/* -- first iteration --*/

    body {
        background: #fff000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100vw;
    }


    .wrapper {
        /* border: 2px solid red;
        box-sizing: border-box; --*/
        max-width: 100vw;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5vh 95vh;
        grid-template-areas: 
        "header"
        "contentblue"
        "contentpink";
        max-width: 100vw;
        /* padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px; */
    }



    /*--Header-- */

     .header {

        /*-header2-- */
           /* display: grid;
            position: sticky;
            top: 0; -- */
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5vh;
            max-width: 100vw;
            font-family: neuehaas65;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 12px;
            background-color: none;
            mix-blend-mode: multiply;
        }

        a.home {
            color: #FF00FF;
            text-decoration: none;
        }

        a.blue {
            color: #FF00FF;
            text-decoration: none;
            mix-blend-mode: multiply;
        }

        a.blue:hover {
            color: #009FE3;
            cursor: pointer;
        }


        /* button {
                background-color: transparent;
                border: none;
                color: #009FE3;
                margin: none;

            }

            button.past {
                color: #009FE3 
            }

            button.past:hover {
                cursor: pointer;
            }

        */


    /*-- Content --*/

        #contentpink {
             /*border: 2px solid green; 
            background-color: #009FE3; */
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50% 50%;
            grid-template-areas: 
            "mother maiden"
            "crone wild";
            box-sizing: border-box;
            max-width: 100vw;
            max-height: 95vh;
            margin-top: 1vh;
        }

    /*--imgbgpink*/

        img.motherbgpink {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img.motherbgpink:hover {
            background-color: #FF00FF;
            mix-blend-mode: multiply;
            cursor: pointer;
        }

        img.maidenbgpink {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img.maidenbgpink:hover {
            background-color: #FF00FF;
            mix-blend-mode: multiply;
        }

        img.cronebgpink {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img.cronebgpink:hover {
            background-color: #FF00FF;
            mix-blend-mode: multiply;
        }

        img.wildbgpink {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        img.wildbgpink:hover {
            background-color: #FF00FF;
            mix-blend-mode: multiply;
        }






/*-- responsive edits --*/

   /*-- first iteration --*/
   @media (max-width: 900px){
        
    .header {  
        position: sticky;
        top: 0;
        font-size: 8px;
        height: 5vh;
        padding-top: 10px;
        background-color: #fff000;
        mix-blend-mode: normal;
        }

    a.home {
            mix-blend-mode: multiply;
        }

    a.pink {
            mix-blend-mode: multiply;
        }

    #contentpink {
            display: inline-block;
            min-height: 100vh;
            gap: 0px;
        }